body {
	font-family: Arial, sans-serif;
	box-sizing: border-box;
	margin-bottom: 100px;
	clear: both;
}

header {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1em 0;
}

section {
	margin: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1em 0;
	position: fixed;
	width: 100%;
	bottom: 0;
}

footer a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	hight: 300px;
}